.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #12318c;
  color: white;
}

.sidebar h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sidebar p {
  margin-bottom: 10px;
  cursor: pointer;
}

.chat-container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
}

.message-thread {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-header span {
  font-weight: bold;
  margin-right: 10px;
}

.likes {
  font-size: 0.8rem;
  margin-right: 5px;
}

.like-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.like-button:hover {
  background-color: #3e8e41;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.send-button {
  background-color: #12318c;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0634f0;
}

.emoji-picker-container {
  position: absolute;
  bottom: 70px;
  right: 10px;
  z-index: 1;
}

.user-list {
  position: absolute;
  bottom: 125px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ddd;
  padding-top: 10px;
  width: 20rem;
  transform: translateY(10px);
}

.user-list div {
  cursor: pointer;
  padding: 5px;
}

.user-list div:hover {
  background-color: #eee;
}
